# Functions

In [1]:
import pandas as pd
import os
pd.set_option('display.max_columns', None)



def get_df_from_folder2rd(subfolder):
    # subfolder = os.path.join(folder, folder2rd)
    filenames = [os.path.join(subfolder,i) for i in os.listdir(subfolder) if 'errorlog' not in i and '.DS_Store' not in i]
    L = []
    for filename in filenames:
        try:
            df = pd.read_pickle(filename)
            L.append(df)
        except:
            print('Error File', filename.split('/')[-1])

    DF = pd.concat(L).reset_index(drop = True)
    return DF



def review_info(subfolder, review_col):
    DF = get_df_from_folder2rd(subfolder)
    d = {}
    d['subfolder'] = subfolder.split('/')[-1]
    DF['ReviewCountClt'] = DF[review_col].apply(lambda x:len(x))
    d['total_reviews'] = DF['ReviewCountClt'].sum()
    s = DF[DF['ReviewCountClt'] > 0 ]
    d['physician'] = len(DF)
    d['physician_of_reviews'] = (DF['ReviewCountClt'] > 0 ).sum()
    s = DF['ReviewCountClt']
    return DF, d, s


def change_npi_to_int(x):
    try:
        return int(x)
    except:
        # print(x)
        return 0

# WebURL Information

In [2]:
WebsiteNames = ['healthgrades', 'vitals', 'ratemds', 'zocdoc', 'yelp']
doj_path = 'Data/NPI_included.csv'
mddo_path = 'Data/NPPESMDDOPhysician.p'

DOJ_NPI_included = pd.read_csv(doj_path)['NPI'].to_list()
MDDO_NPI_included = pd.read_pickle(mddo_path)['NPI'].to_list()

print('Number of DOJ:    {}'.format(len(DOJ_NPI_included)))
print('Number of MDDO:   {}'.format(len(MDDO_NPI_included)))


for name in WebsiteNames:
    inputfolder = os.path.join('Data', name)
    files = [os.path.join(inputfolder, i) for i in os.listdir(inputfolder) if '.p' in i]# 'Data/DocListDF_GoogleSearch_s0_e500.p'
    files.sort()
    WebsiteKeywords = pd.concat([pd.read_pickle(i) for i in files])
    # WebsiteKeywords = WebsiteKeywords.iloc[WebsiteKeywords['NPI'].drop_duplicates().index]
    WebsiteKeywords = WebsiteKeywords['NPI'].drop_duplicates() 

    print('\nFor Website {}, unique NPIs Num: {}'.format(name.upper(), len(WebsiteKeywords)))
    
    d = WebsiteKeywords[WebsiteKeywords.isin(DOJ_NPI_included)]
    print('number of DOJ  NPIs found in {}: {} /{}'.format(name, len(d), len(DOJ_NPI_included)))
    
    d = WebsiteKeywords[WebsiteKeywords.isin(MDDO_NPI_included)]
    print('number of MDDO NPIs found in {}: {} /{}'.format(name, len(d), len(MDDO_NPI_included)))

Number of DOJ:    944
Number of MDDO:   1141176

For Website HEALTHGRADES, unique NPIs Num: 1006690
number of DOJ  NPIs found in healthgrades: 634 /944
number of MDDO NPIs found in healthgrades: 735850 /1141176

For Website VITALS, unique NPIs Num: 861412
number of DOJ  NPIs found in vitals: 704 /944
number of MDDO NPIs found in vitals: 772471 /1141176

For Website RATEMDS, unique NPIs Num: 221731
number of DOJ  NPIs found in ratemds: 260 /944
number of MDDO NPIs found in ratemds: 178878 /1141176

For Website ZOCDOC, unique NPIs Num: 241137
number of DOJ  NPIs found in zocdoc: 185 /944
number of MDDO NPIs found in zocdoc: 179059 /1141176

For Website YELP, unique NPIs Num: 60332
number of DOJ  NPIs found in yelp: 46 /944
number of MDDO NPIs found in yelp: 39325 /1141176

# ReviewInfo

In [3]:
def geneConvertDatetime(dateKey):
    def convertDatetime(x):
        L = []
        for i in x:
            if dateKey not in i:
                continue
            
            date = i[dateKey]
            try:
                date = pd.to_datetime(date, utc = 'UTC')
                L.append(date)
            except:
                # print(date)
                pass
                
        return L
    return convertDatetime

In [4]:
# WebsiteNames = ['healthgrades', 'vitals', 'ratemds', 'zocdoc', 'yelp']
WebsiteNames = ['healthgrades', 'vitals', 'ratemds', 'yelp']

WebsiteNames2NPI = {'healthgrades':'npi', 
                    'vitals':'npi', 
                    'ratemds':'source_npi', 
                    'zocdoc':'npi', 
                    'yelp':'source_npi'}

WebsiteNames2Reviews = {'healthgrades':['reviews'], 
                        'vitals':['reviews'], 
                        'ratemds':['reviews'], 
                        'zocdoc':['reviews'], 
                        'yelp':['reviews_detailed', 'blocked_reviews', 'removed_reviews']}

WebsiteNames2DateColumns = {'healthgrades':{'reviews':'submittedDate'}, 
                            'vitals':{'reviews':'updated_at_dt'}, 
                            'ratemds':{'reviews':'created'}, 
                            'zocdoc':{'reviews':'date'}, # not all of the reviews has such information.
                            'yelp':{'reviews_detailed':'localizedDate', 
                                    'blocked_reviews':'date', 
                                    'removed_reviews': 'date'}}

        
        
selectedNPIs = MDDO_NPI_included



WebReview2ReviewNum = {}
WebReview2ReviewTime = {}
WebReview2ReviewCltTime = {}

for name in WebsiteNames:
    folder = os.path.join('Output', name)
    subfolders = [os.path.join(folder, i) for i in os.listdir(folder) if name in i and '.DS' not in i]# 'Data/DocListDF_GoogleSearch_s0_e500.p'
    # paths = ['MD_DocListDF_All_GoogleSearch_s0_e10000.p']
    subfolders.sort()
    

    npi_col = WebsiteNames2NPI[name]
    review_cols = WebsiteNames2Reviews[name]
    
    for review_col in review_cols:
        # L = []
        print('\n\nnumber of subfolders for {}: {}'.format(name, len(subfolders)))
    
        print('Website: {}; Review: {}'.format(name, review_col))
        ReviewCount = []
        ReviewTime = []
        
        datekey = WebsiteNames2DateColumns[name][review_col]
        changetime_func = geneConvertDatetime(datekey)

        # doj_NPI = []
        # all_NPI = []

        for folder2rd in subfolders:
            # print(folder2rd)
            DF = get_df_from_folder2rd(folder2rd); rawlen = len(DF)
            
            
            # DF, description, _ = review_info(folder2rd, review_col)
            # print(DF[npi_col].dtype)
            DF[npi_col] = DF[npi_col].apply(change_npi_to_int)
            
            # DF = DF[DF[npi_col].isin(selectedNPIs)]
            DF = DF[DF[npi_col].isin(selectedNPIs)].reset_index(drop = True)
            NPI2ReviewCounts = DF[review_col].apply(lambda x:len(x))# .values
            NPI2ReviewTimes = DF[review_col].apply(changetime_func)
            # print(NPI2ReviewCounts)
            # L.append(d)
            ReviewCount.append(NPI2ReviewCounts)
            ReviewTime.append(NPI2ReviewTimes)
            # doj_NPI.append(doj)
            # all_NPI.append(DF[npi_col])
            print(folder2rd, '\t\t', rawlen, len(DF))
            # break
            
        # break

        # Log = pd.DataFrame(L)
        ReviewNum = pd.concat(ReviewCount).reset_index(drop = True)
        ReviewTime = pd.concat(ReviewTime).reset_index(drop = True)
        WebReview2ReviewNum['{}_{}'.format(name, review_col)] = ReviewNum
        WebReview2ReviewTime['{}_{}'.format(name, review_col)] = ReviewTime
        
        # a = ReviewNum.describe()
        # a.name = '{}_{}_All'.format(name, review_col)
        # ReviewNumPos = ReviewNum[ReviewNum > 0].reset_index(drop = True)
        # b = ReviewNumPos.describe()
        # b.name = '{}_{}_Pos'.format(name, review_col)
        # print(ReviewNumPos.sum())
        # Result = pd.concat([a, b], axis = 1)

number of subfolders for healthgrades: 68
Website: healthgrades; Review: reviews
Output/healthgrades/MD_Doc2GoogleURL_healthgrades_s0_e10000 		 9979 9668
Output/healthgrades/MD_Doc2GoogleURL_healthgrades_s100000_e110000 		 9982 9708
Output/healthgrades/MD_Doc2GoogleURL_healthgrades_s10000_e20000 		 9973 9712
Output/healthgrades/MD_Doc2GoogleURL_healthgrades_s110000_e120000 		 9984 9675
Output/healthgrades/MD_Doc2GoogleURL_healthgrades_s120000_e130000 		 9967 9677
Output/healthgrades/MD_Doc2GoogleURL_healthgrades_s130000_e137121 		 7108 6880
Output/healthgrades/MD_Doc2GoogleURL_healthgrades_s20000_e30000 		 9978 9725
Output/healthgrades/MD_Doc2GoogleURL_healthgrades_s30000_e40000 		 9967 9673
Output/healthgrades/MD_Doc2GoogleURL_healthgrades_s40000_e50000 		 9975 9714
Output/healthgrades/MD_Doc2GoogleURL_healthgrades_s50000_e60000 		 9974 9710
Output/healthgrades/MD_Doc2GoogleURL_healthgrades_s60000_e70000 		 9968 9734
Output/healthgrades/MD_Doc2GoogleURL_healthgrades_s70000_e80000 		 9958 9706
Output/healthgrades/MD_Doc2GoogleURL_healthgrades_s80000_e90000 		 9983 9736
Output/healthgrades/MD_Doc2GoogleURL_healthgrades_s90000_e100000 		 9999 9694
Output/healthgrades/healthgrades_mddo_v1_s0_e20000 		 19936 19833
Output/healthgrades/healthgrades_mddo_v1_s20000_e40000 		 19900 19814
Output/healthgrades/healthgrades_mddo_v1_s40000_e60000 		 19942 19875
Output/healthgrades/healthgrades_mddo_v1_s60000_e80000 		 19905 19835
Output/healthgrades/healthgrades_mddo_v1_s80000_e100000 		 19908 19826
Output/healthgrades/healthgrades_mddo_v2_s0_e20000 		 19907 19837
Output/healthgrades/healthgrades_mddo_v2_s20000_e40000 		 19915 19858
Output/healthgrades/healthgrades_mddo_v2_s40000_e60000 		 19895 19831
Output/healthgrades/healthgrades_mddo_v2_s60000_e80000 		 19925 19854
Output/healthgrades/healthgrades_mddo_v2_s80000_e100000 		 19898 19816
Output/healthgrades/healthgrades_mddo_v3_s0_e20000 		 19917 19850
Output/healthgrades/healthgrades_mddo_v3_s20000_e40000 		 19897 19825
Output/healthgrades/healthgrades_mddo_v3_s40000_e60000 		 19882 19808
Output/healthgrades/healthgrades_mddo_v3_s60000_e80000 		 19908 19826
Output/healthgrades/healthgrades_mddo_v3_s80000_e89005 		 8962 8921
Output/healthgrades/healthgrades_v1_s0_e10000 		 9928 5408
Output/healthgrades/healthgrades_v1_s10000_e20000 		 9924 5781
Output/healthgrades/healthgrades_v1_s20000_e30000 		 9917 5300
Output/healthgrades/healthgrades_v1_s30000_e40000 		 9921 5380
Output/healthgrades/healthgrades_v1_s40000_e50000 		 9917 5079
Output/healthgrades/healthgrades_v1_s50000_e60000 		 9932 5657
Output/healthgrades/healthgrades_v1_s60000_e70000 		 9933 5548
Output/healthgrades/healthgrades_v1_s70000_e80000 		 9937 5365
Output/healthgrades/healthgrades_v1_s80000_e90000 		 9929 5714
Output/healthgrades/healthgrades_v1_s90000_e100000 		 9917 4809
Output/healthgrades/healthgrades_v2_s0_e10000 		 9908 5581
Output/healthgrades/healthgrades_v2_s10000_e20000 		 9932 5321
Output/healthgrades/healthgrades_v2_s20000_e30000 		 9955 5968
Output/healthgrades/healthgrades_v2_s30000_e40000 		 9942 5231
Output/healthgrades/healthgrades_v2_s40000_e50000 		 9934 5036
Output/healthgrades/healthgrades_v2_s50000_e60000 		 9933 5572
Output/healthgrades/healthgrades_v2_s60000_e70000 		 9917 4939
Output/healthgrades/healthgrades_v2_s70000_e85000 		 14907 8439
Output/healthgrades/healthgrades_v2_s85000_e100000 		 14905 8595
Output/healthgrades/healthgrades_v3_s0_e20000 		 19842 10291
Output/healthgrades/healthgrades_v3_s20000_e40000 		 19864 11189
Output/healthgrades/healthgrades_v3_s40000_e60000 		 19830 10776
Output/healthgrades/healthgrades_v3_s60000_e80000 		 19845 10167
Output/healthgrades/healthgrades_v3_s80000_e100000 		 19844 11131
Output/healthgrades/healthgrades_v4_s0_e20000 		 19847 11282
Output/healthgrades/healthgrades_v4_s20000_e40000 		 19812 10188
Output/healthgrades/healthgrades_v4_s40000_e60000 		 19842 11060
Output/healthgrades/healthgrades_v4_s60000_e80000 		 19844 11205
Output/healthgrades/healthgrades_v4_s80000_e100000 		 19871 10440
Output/healthgrades/healthgrades_v5_s0_e20000 		 19848 11127
Output/healthgrades/healthgrades_v5_s20000_e40000 		 19836 10833
Output/healthgrades/healthgrades_v5_s40000_e60000 		 16785 8627
Output/healthgrades/healthgrades_v5_s60000_e80000 		 19850 11439
Output/healthgrades/healthgrades_v5_s80000_e100000 		 19843 10302
Output/healthgrades/healthgrades_v6_s0_e20000 		 19841 10436
Output/healthgrades/healthgrades_v6_s20000_e40000 		 19846 11178
Output/healthgrades/healthgrades_v6_s40000_e60000 		 19848 11042
Output/healthgrades/healthgrades_v6_s60000_e80000 		 19837 10559
Output/healthgrades/healthgrades_v6_s80000_e80564 		 557 396


number of subfolders for vitals: 78
Website: vitals; Review: reviews
Output/vitals/MD_Doc2GoogleURL_vitals_s0_e10000 		 9960 9626
Output/vitals/MD_Doc2GoogleURL_vitals_s100000_e110000 		 9975 9658
Output/vitals/MD_Doc2GoogleURL_vitals_s10000_e20000 		 9958 9668
Output/vitals/MD_Doc2GoogleURL_vitals_s110000_e120000 		 9949 9638
Output/vitals/MD_Doc2GoogleURL_vitals_s120000_e130000 		 9944 9612
Output/vitals/MD_Doc2GoogleURL_vitals_s130000_e140000 		 9926 9627
Output/vitals/MD_Doc2GoogleURL_vitals_s140000_e150000 		 9920 9607
Output/vitals/MD_Doc2GoogleURL_vitals_s150000_e150528 		 520 502
Output/vitals/MD_Doc2GoogleURL_vitals_s20000_e30000 		 9991 9715
Output/vitals/MD_Doc2GoogleURL_vitals_s30000_e40000 		 9950 9645
Output/vitals/MD_Doc2GoogleURL_vitals_s40000_e50000 		 9944 9697
Output/vitals/MD_Doc2GoogleURL_vitals_s50000_e60000 		 9980 9688
Output/vitals/MD_Doc2GoogleURL_vitals_s60000_e70000 		 9984 9730
Output/vitals/MD_Doc2GoogleURL_vitals_s70000_e80000 		 9941 9680
Output/vitals/MD_Doc2GoogleURL_vitals_s80000_e90000 		 9941 9684
Output/vitals/MD_Doc2GoogleURL_vitals_s90000_e100000 		 9983 9742
Output/vitals/vitals_mddo_v1_s0_e20000 		 19705 19479
Output/vitals/vitals_mddo_v1_s20000_e40000 		 19669 19424
Output/vitals/vitals_mddo_v1_s40000_e60000 		 16047 15842
Output/vitals/vitals_mddo_v1_s60000_e70000 		 9862 9746
Output/vitals/vitals_mddo_v1_s70000_e80000 		 9858 9723
Output/vitals/vitals_mddo_v1_s80000_e100000 		 13679 13482
Output/vitals/vitals_mddo_v2_s0_e10000 		 8583 8477
Output/vitals/vitals_mddo_v2_s10000_e20000 		 8609 8496
Output/vitals/vitals_mddo_v2_s20000_e30000 		 8637 8528
Output/vitals/vitals_mddo_v2_s30000_e40000 		 8592 8482
Output/vitals/vitals_mddo_v2_s40000_e50000 		 8488 8349
Output/vitals/vitals_mddo_v2_s50000_e60000 		 8525 8420
Output/vitals/vitals_mddo_v2_s60000_e70000 		 8635 8528
Output/vitals/vitals_mddo_v2_s70000_e80000 		 8594 8479
Output/vitals/vitals_mddo_v2_s80000_e90000 		 8530 8422
Output/vitals/vitals_mddo_v2_s90000_e100000 		 8501 8394
Output/vitals/vitals_mddo_v3_s0_e10000 		 8567 8480
Output/vitals/vitals_mddo_v3_s10000_e20000 		 8663 8524
Output/vitals/vitals_mddo_v3_s20000_e30000 		 8416 8319
Output/vitals/vitals_mddo_v3_s30000_e40000 		 8504 8398
Output/vitals/vitals_mddo_v3_s40000_e50000 		 8570 8455
Output/vitals/vitals_mddo_v3_s50000_e60000 		 8545 8443
Output/vitals/vitals_mddo_v3_s60000_e75000 		 14808 14603
Output/vitals/vitals_mddo_v3_s75000_e80000 		 4950 4880
Output/vitals/vitals_mddo_v3_s80000_e100000 		 19792 19543
Output/vitals/vitals_mddo_v4_s0_e10703 		 10591 10463
Output/vitals/vitals_v1_s0_e10000 		 9903 7996
Output/vitals/vitals_v1_s10000_e20000 		 9884 7657
Output/vitals/vitals_v1_s20000_e30000 		 9904 7900
Output/vitals/vitals_v1_s30000_e40000 		 9904 7806
Output/vitals/vitals_v1_s40000_e50000 		 9918 8029
Output/vitals/vitals_v1_s50000_e60000 		 9891 7726
Output/vitals/vitals_v1_s60000_e70000 		 9903 7911
Output/vitals/vitals_v1_s70000_e80000 		 9891 7787
Output/vitals/vitals_v1_s80000_e90000 		 9920 7989
Output/vitals/vitals_v1_s90000_e100000 		 9892 7764
Output/vitals/vitals_v2_s0_e10000 		 9912 7895
Output/vitals/vitals_v2_s10000_e20000 		 9914 7728
Output/vitals/vitals_v2_s20000_e30000 		 9896 8003
Output/vitals/vitals_v2_s30000_e40000 		 9893 7733
Output/vitals/vitals_v2_s40000_e50000 		 9889 7880
Output/vitals/vitals_v2_s50000_e60000 		 9897 7834
Output/vitals/vitals_v2_s60000_e70000 		 9893 7984
Output/vitals/vitals_v2_s70000_e85000 		 14825 11651
Output/vitals/vitals_v2_s85000_e100000 		 14796 11669

Output/vitals/vitals_v3_s0_e12500 		 12341 9858
Output/vitals/vitals_v3_s12500_e25000 		 12364 9827
Output/vitals/vitals_v3_s25000_e37500 		 12347 9613
Output/vitals/vitals_v3_s37500_e50000 		 12355 10028
Output/vitals/vitals_v3_s50000_e62500 		 12343 9786
Output/vitals/vitals_v3_s62500_e75000 		 12334 9557
Output/vitals/vitals_v3_s75000_e87500 		 12352 9799
Output/vitals/vitals_v3_s87500_e100000 		 12330 9793
Output/vitals/vitals_v4_s0_e12500 		 12316 9639
Output/vitals/vitals_v4_s12500_e25000 		 12336 9969
Output/vitals/vitals_v4_s25000_e37500 		 12348 9810
Output/vitals/vitals_v4_s37500_e50000 		 12329 9656
Output/vitals/vitals_v4_s50000_e62500 		 12321 9582
Output/vitals/vitals_v4_s62500_e75000 		 12344 9988
Output/vitals/vitals_v4_s75000_e87500 		 12321 9737
Output/vitals/vitals_v4_s87500_e100000 		 12326 9620
Output/vitals/vitals_v5_s0_e192 		 189 157


number of subfolders for ratemds: 23
Website: ratemds; Review: reviews
Output/ratemds/MD_Doc2GoogleURL_ratemds_s0_e2199 		 1897 1838
Output/ratemds/ratemds_mddo_v1_s0_e10000 		 9317 9317
Output/ratemds/ratemds_mddo_v1_s10000_e20000 		 9338 9338
Output/ratemds/ratemds_mddo_v1_s20000_e30000 		 9359 9359
Output/ratemds/ratemds_mddo_v1_s30000_e40000 		 9336 9336
Output/ratemds/ratemds_mddo_v1_s40000_e50000 		 9278 9278
Output/ratemds/ratemds_mddo_v1_s50000_e60000 		 9340 9340
Output/ratemds/ratemds_mddo_v1_s60000_e70000 		 9259 9259
Output/ratemds/ratemds_mddo_v1_s70000_e80000 		 9319 9319
Output/ratemds/ratemds_mddo_v1_s80000_e90000 		 9321 9321
Output/ratemds/ratemds_mddo_v1_s90000_e100000 		 9319 9319
Output/ratemds/ratemds_mddo_v2_s0_e9852 		 9202 9202
Output/ratemds/ratemds_v1_s0_e10000 		 9004 5326
Output/ratemds/ratemds_v1_s10000_e20000 		 9055 5476
Output/ratemds/ratemds_v1_s20000_e30000 		 9059 5431
Output/ratemds/ratemds_v1_s30000_e40000 		 8968 5357
Output/ratemds/ratemds_v1_s40000_e50000 		 8992 5334
Output/ratemds/ratemds_v1_s50000_e60000 		 9024 5419
Output/ratemds/ratemds_v1_s60000_e70000 		 8925 5305
Output/ratemds/ratemds_v1_s70000_e80000 		 8972 5367
Output/ratemds/ratemds_v1_s80000_e90000 		 9064 5388
Output/ratemds/ratemds_v1_s90000_e100000 		 9022 5386
Output/ratemds/ratemds_v2_s0_e9680 		 8779 5190


number of subfolders for yelp: 23
Website: yelp; Review: reviews_detailed
Output/yelp/MD_Doc2GoogleURL_yelp_s0_e2600 		 2612 2544
Output/yelp/MD_Doc2GoogleURL_yelp_s2600_e3879 		 1283 1241
Output/yelp/yelp_mddo_v1_s0_e2000 		 1954 1954
Output/yelp/yelp_mddo_v1_s10000_e12000 		 1970 1970
Output/yelp/yelp_mddo_v1_s12000_e13667 		 1620 1620
Output/yelp/yelp_mddo_v1_s2000_e4000 		 1948 1948
Output/yelp/yelp_mddo_v1_s4000_e6000 		 1950 1950
Output/yelp/yelp_mddo_v1_s6000_e8000 		 1944 1944
Output/yelp/yelp_mddo_v1_s8000_e10000 		 1969 1969
Output/yelp/yelp_v1_s0_e1000 		 1005 518
Output/yelp/yelp_v1_s1000_e2000 		 993 507
Output/yelp/yelp_v1_s12000_e16000 		 3734 1874
Output/yelp/yelp_v1_s16000_e20000 		 3747 1934
Output/yelp/yelp_v1_s20000_e24000 		 3721 1901
Output/yelp/yelp_v1_s2000_e3000 		 989 505
Output/yelp/yelp_v1_s24000_e28000 		 3710 1885
Output/yelp/yelp_v1_s28000_e32000 		 3734 1908
Output/yelp/yelp_v1_s3000_e4000 		 970 458
Output/yelp/yelp_v1_s32000_e36000 		 3774 1942
Output/yelp/yelp_v1_s36000_e40000 		 3734 1909
Output/yelp/yelp_v1_s40000_e42786 		 2787 1414
Output/yelp/yelp_v1_s4000_e8000 		 3727 1912
Output/yelp/yelp_v1_s8000_e12000 		 3771 1926


number of subfolders for yelp: 23
Website: yelp; Review: blocked_reviews
Output/yelp/MD_Doc2GoogleURL_yelp_s0_e2600 		 2612 2544
Output/yelp/MD_Doc2GoogleURL_yelp_s2600_e3879 		 1283 1241
Output/yelp/yelp_mddo_v1_s0_e2000 		 1954 1954
Output/yelp/yelp_mddo_v1_s10000_e12000 		 1970 1970
Output/yelp/yelp_mddo_v1_s12000_e13667 		 1620 1620
Output/yelp/yelp_mddo_v1_s2000_e4000 		 1948 1948
Output/yelp/yelp_mddo_v1_s4000_e6000 		 1950 1950
Output/yelp/yelp_mddo_v1_s6000_e8000 		 1944 1944
Output/yelp/yelp_mddo_v1_s8000_e10000 		 1969 1969
Output/yelp/yelp_v1_s0_e1000 		 1005 518
Output/yelp/yelp_v1_s1000_e2000 		 993 507
Output/yelp/yelp_v1_s12000_e16000 		 3734 1874
Output/yelp/yelp_v1_s16000_e20000 		 3747 1934
Output/yelp/yelp_v1_s20000_e24000 		 3721 1901
Output/yelp/yelp_v1_s2000_e3000 		 989 505
Output/yelp/yelp_v1_s24000_e28000 		 3710 1885
Output/yelp/yelp_v1_s28000_e32000 		 3734 1908
Output/yelp/yelp_v1_s3000_e4000 		 970 458
Output/yelp/yelp_v1_s32000_e36000 		 3774 1942
Output/yelp/yelp_v1_s36000_e40000 		 3734 1909
Output/yelp/yelp_v1_s40000_e42786 		 2787 1414
Output/yelp/yelp_v1_s4000_e8000 		 3727 1912
Output/yelp/yelp_v1_s8000_e12000 		 3771 1926


number of subfolders for yelp: 23
Website: yelp; Review: removed_reviews
Output/yelp/MD_Doc2GoogleURL_yelp_s0_e2600 		 2612 2544
Output/yelp/MD_Doc2GoogleURL_yelp_s2600_e3879 		 1283 1241
Output/yelp/yelp_mddo_v1_s0_e2000 		 1954 1954
Output/yelp/yelp_mddo_v1_s10000_e12000 		 1970 1970
Output/yelp/yelp_mddo_v1_s12000_e13667 		 1620 1620
Output/yelp/yelp_mddo_v1_s2000_e4000 		 1948 1948
Output/yelp/yelp_mddo_v1_s4000_e6000 		 1950 1950
Output/yelp/yelp_mddo_v1_s6000_e8000 		 1944 1944
Output/yelp/yelp_mddo_v1_s8000_e10000 		 1969 1969
Output/yelp/yelp_v1_s0_e1000 		 1005 518
Output/yelp/yelp_v1_s1000_e2000 		 993 507
Output/yelp/yelp_v1_s12000_e16000 		 3734 1874
Output/yelp/yelp_v1_s16000_e20000 		 3747 1934
Output/yelp/yelp_v1_s20000_e24000 		 3721 1901
Output/yelp/yelp_v1_s2000_e3000 		 989 505
Output/yelp/yelp_v1_s24000_e28000 		 3710 1885
Output/yelp/yelp_v1_s28000_e32000 		 3734 1908
Output/yelp/yelp_v1_s3000_e4000 		 970 458
Output/yelp/yelp_v1_s32000_e36000 		 3774 1942
Output/yelp/yelp_v1_s36000_e40000 		 3734 1909
Output/yelp/yelp_v1_s40000_e42786 		 2787 1414
Output/yelp/yelp_v1_s4000_e8000 		 3727 1912
Output/yelp/yelp_v1_s8000_e12000 		 3771 1926

In [5]:
from IPython.display import display, HTML

for webcol, ReviewNum in WebReview2ReviewNum.items():
    print('\n\n{}'.format(webcol))
    a = ReviewNum.describe()
    a.name = '{}_All'.format(webcol)
    ReviewNumPos = ReviewNum[ReviewNum > 0].reset_index(drop = True)
    b = ReviewNumPos.describe()
    b.name = '{}_Pos'.format(webcol)
    print('Total Number of Reviews {}'.format(ReviewNumPos.sum()))
    Result = pd.concat([a, b], axis = 1)
    display(Result)

healthgrades_reviews
Total Number of Reviews 2210337

       healthgrades_reviews_All  healthgrades_reviews_Pos
count             732012.000000             342818.000000
mean                   3.019537                  6.447552
std                   12.098088                 17.041875
min                    0.000000                  1.000000
25%                    0.000000                  1.000000
50%                    0.000000                  3.000000
75%                    2.000000                  6.000000
max                 2711.000000               2711.000000

vitals_reviews
Total Number of Reviews 6158207

       vitals_reviews_All  vitals_reviews_Pos
count       731259.000000       505005.000000
mean             8.421376           12.194349
std             16.902023           19.174466
min              0.000000            1.000000
25%              0.000000            3.000000
50%              3.000000            7.000000
75%             11.000000           15.000000
max           3280.000000         3280.000000

ratemds_reviews
Total Number of Reviews 314856

       ratemds_reviews_All  ratemds_reviews_Pos
count        163205.000000         53395.000000
mean              1.929206             5.896732
std               6.934426            11.116856
min               0.000000             1.000000
25%               0.000000             1.000000
50%               0.000000             3.000000
75%               1.000000             6.000000
max             357.000000           357.000000

yelp_reviews_detailed
Total Number of Reviews 403352

       yelp_reviews_detailed_All  yelp_reviews_detailed_Pos
count               37733.000000               25682.000000
mean                   10.689635                  15.705630
std                    24.267280                  28.043976
min                     0.000000                   1.000000
25%                     0.000000                   3.000000
50%                     3.000000                   6.000000
75%                    11.000000                  17.000000
max                   602.000000                 602.000000

yelp_blocked_reviews
Total Number of Reviews 172230

       yelp_blocked_reviews_All  yelp_blocked_reviews_Pos
count              37733.000000              19501.000000
mean                   4.564440                  8.831855
std                   12.591117                 16.403426
min                    0.000000                  1.000000
25%                    0.000000                  2.000000
50%                    1.000000                  4.000000
75%                    4.000000                  9.000000
max                  377.000000                377.000000

yelp_removed_reviews
Total Number of Reviews 17345

       yelp_removed_reviews_All  yelp_removed_reviews_Pos
count              37733.000000               6900.000000
mean                   0.459677                  2.513768
std                    1.410309                  2.390361
min                    0.000000                  1.000000
25%                    0.000000                  1.000000
50%                    0.000000                  1.000000
75%                    0.000000                  3.000000
max                   10.000000                 10.000000

# ReviewTime

In [17]:
import pickle

path = 'Output/WebReview2ReviewTime.p'

with open(path, 'wb') as f: 
    pickle.dump(WebReview2ReviewTime, f)

In [72]:
WebReview2ReviewTime['healthgrades_reviews']

0         [2020-04-08 00:00:00+00:00, 2019-11-16 00:00:0...
1                               [2017-02-24 00:00:00+00:00]
2         [2020-12-15 00:00:00+00:00, 2019-11-24 00:00:0...
3                               [2016-03-27 00:00:00+00:00]
4                                                        []
                                ...
732007    [2019-03-11 00:00:00+00:00, 2019-03-05 00:00:0...
732008                          [2019-06-02 00:00:00+00:00]
732009                                                   []
732010                                                   []
732011    [2021-04-09 00:00:00+00:00, 2020-07-04 00:00:0...
Name: reviews, Length: 732012, dtype: object

## Get NPI's Mean Date

In [68]:
import numpy as np
import datetime

def get_the_mean_date(dates):
    ref_date = pd.to_datetime('2010-01-01', utc = 'UTC')
    mean_date = pd.to_timedelta(np.mean([(date - ref_date).days for date in dates]), 'd') + ref_date
    return mean_date



# Collection date: 2021-08-01

# collection date: 
"2020-10-01" 
"2020-10-05"  



# mean date
"2020-10-03"

In [69]:
import numpy as np

Webname2MeanDate = {}
for webname in WebReview2ReviewTime:
    # print('\n\n' + webname)
    L = []
    for npi2reviewdatetime in WebReview2ReviewTime[webname]:
        npi2reviewdatetime = [i for i in npi2reviewdatetime if not pd.isnull(i)]
        if len(npi2reviewdatetime) == 0:
            L.append(np.nan)
        else:
            average_date = get_the_mean_date(npi2reviewdatetime)
            L.append(average_date)
            
    d = pd.Series(L)
    Webname2MeanDate[webname] = d
    
    
    
for webname in Webname2MeanDate:
    print('\n{}'.format(webname))
    
    NPI2AverageDate = Webname2MeanDate[webname]
    
    zero_ratio = (-NPI2AverageDate.isna()).mean()* 100
    print('ratio of npi of positive reviews: {}% [{}/{}]'.format(round(zero_ratio, 2), (-NPI2AverageDate.isna()).sum(),  len(NPI2AverageDate)))
    report = NPI2AverageDate.dt.year.value_counts().sort_index(ascending = False)
    df = pd.concat([report, report.cumsum() / report.sum()], axis = 1)
    df.columns = ['NPI Number', 'CumProp']
    
    display(df)

healthgrades_reviews
ratio of npi of positive reviews: 46.83% [342818/732012]

        NPI Number   CumProp
2021.0       18377  0.053606
2020.0       36892  0.161220
2019.0       69617  0.364292
2018.0      100882  0.658565
2017.0       74347  0.875435
2016.0       41437  0.996307
2015.0        1266  1.000000

vitals_reviews
ratio of npi of positive reviews: 29.4% [214987/731259]

        NPI Number   CumProp
2021.0          85  0.000395
2020.0         556  0.002982
2019.0        1927  0.011945
2018.0        4116  0.031090
2017.0       11753  0.085759
2016.0       40148  0.272505
2015.0       75806  0.625112
2014.0       54854  0.880263
2013.0       19544  0.971170
2012.0        4991  0.994386
2011.0        1008  0.999074
2010.0         181  0.999916
2009.0          18  1.000000

ratemds_reviews
ratio of npi of positive reviews: 32.72% [53395/163205]

        NPI Number   CumProp
2021.0         420  0.007866
2020.0         758  0.022062
2019.0        1172  0.044012
2018.0        1818  0.078060
2017.0        2559  0.125986
2016.0        3339  0.188520
2015.0        4481  0.272441
2014.0        5937  0.383631
2013.0        6377  0.503062
2012.0        6327  0.621556
2011.0        6367  0.740800
2010.0        4919  0.832924
2009.0        3924  0.906414
2008.0        3314  0.968480
2007.0        1046  0.988070
2006.0         432  0.996161
2005.0         175  0.999438
2004.0          30  1.000000

yelp_reviews_detailed
ratio of npi of positive reviews: 68.06% [25682/37733]

        NPI Number   CumProp
2021.0         429  0.016704
2020.0        1326  0.068336
2019.0        2944  0.182969
2018.0        4481  0.357449
2017.0        4942  0.549879
2016.0        4200  0.713418
2015.0        2937  0.827778
2014.0        1822  0.898723
2013.0        1098  0.941477
2012.0         647  0.966669
2011.0         426  0.983257
2010.0         223  0.991940
2009.0         117  0.996496
2008.0          56  0.998676
2007.0          27  0.999727
2006.0           5  0.999922
2005.0           2  1.000000

yelp_blocked_reviews
ratio of npi of positive reviews: 51.42% [19403/37733]

        NPI Number   CumProp
2021.0         484  0.024945
2020.0        1136  0.083492
2019.0        2139  0.193733
2018.0        2983  0.347472
2017.0        3001  0.502139
2016.0        2767  0.644746
2015.0        2198  0.758027
2014.0        1662  0.843684
2013.0        1212  0.906149
2012.0         828  0.948822
2011.0         515  0.975365
2010.0         262  0.988868
2009.0         139  0.996032
2008.0          51  0.998660
2007.0          15  0.999433
2006.0           9  0.999897
2005.0           1  0.999948
2004.0           1  1.000000

yelp_removed_reviews
ratio of npi of positive reviews: 18.29% [6900/37733]

        NPI Number   CumProp
2021.0         170  0.024638
2020.0         329  0.072319
2019.0         875  0.199130
2018.0         918  0.332174
2017.0         797  0.447681
2016.0         819  0.566377
2015.0         813  0.684203
2014.0         635  0.776232
2013.0         524  0.852174
2012.0         350  0.902899
2011.0         281  0.943623
2010.0         159  0.966667
2009.0         119  0.983913
2008.0          65  0.993333
2007.0          36  0.998551
2006.0           9  0.999855
2005.0           1  1.000000

## Get NPI's Top 50 Mean Date

In [70]:
import numpy as np


# today = pd.to_datetime('2021-10-01', utc = 'UTC')


top = 50
Webname2TopMeanDate = {}
for webname in WebReview2ReviewTime:
    # print('\n\n' + webname)
    L = []
    for npi2reviewdatetime in WebReview2ReviewTime[webname]:
        npi2reviewdatetime = [i for i in npi2reviewdatetime if not pd.isnull(i)]
        npi2reviewdatetime = npi2reviewdatetime[:top]
        if len(npi2reviewdatetime) == 0:
            L.append(np.nan)
        else:
            average_date = get_the_mean_date(npi2reviewdatetime)
            L.append(average_date)
            
    d = pd.Series(L)
    Webname2TopMeanDate[webname] = d
    

for webname in Webname2TopMeanDate:
    print('\n{}'.format(webname))
    
    NPI2AverageDate = Webname2TopMeanDate[webname]
    
    zero_ratio = (-NPI2AverageDate.isna()).mean()* 100
    print('ratio of npi of positive reviews: {}% [{}/{}]'.format(round(zero_ratio, 2), (-NPI2AverageDate.isna()).sum(),  len(NPI2AverageDate)))
    report = NPI2AverageDate.dt.year.value_counts().sort_index(ascending = False)
    df = pd.concat([report, report.cumsum() / report.sum()], axis = 1)
    df.columns = ['NPI Number', 'CumProp']
    
    display(df)

healthgrades_reviews
ratio of npi of positive reviews: 46.83% [342818/732012]

        NPI Number   CumProp
2021.0       19202  0.056012
2020.0       37594  0.165674
2019.0       69155  0.367399
2018.0      100078  0.659327
2017.0       74106  0.875494
2016.0       41417  0.996307
2015.0        1266  1.000000

vitals_reviews
ratio of npi of positive reviews: 29.4% [214987/731259]

        NPI Number   CumProp
2021.0          80  0.000372
2020.0         477  0.002591
2019.0        1675  0.010382
2018.0        3821  0.028155
2017.0       11329  0.080851
2016.0       38894  0.261765
2015.0       73446  0.603395
2014.0       56276  0.865159
2013.0       21487  0.965105
2012.0        5820  0.992176
2011.0        1356  0.998484
2010.0         297  0.999865
2009.0          26  0.999986
2008.0           3  1.000000

ratemds_reviews
ratio of npi of positive reviews: 32.72% [53395/163205]

        NPI Number   CumProp
2021.0         424  0.007941
2020.0         780  0.022549
2019.0        1188  0.044798
2018.0        1825  0.078977
2017.0        2565  0.127016
2016.0        3353  0.189812
2015.0        4460  0.273340
2014.0        5911  0.384043
2013.0        6370  0.503343
2012.0        6315  0.621613
2011.0        6367  0.740856
2010.0        4916  0.832924
2009.0        3924  0.906414
2008.0        3314  0.968480
2007.0        1046  0.988070
2006.0         432  0.996161
2005.0         175  0.999438
2004.0          30  1.000000

yelp_reviews_detailed
ratio of npi of positive reviews: 68.06% [25682/37733]

        NPI Number   CumProp
2021.0         465  0.018106
2020.0        1541  0.078109
2019.0        3235  0.204073
2018.0        4619  0.383926
2017.0        4819  0.571568
2016.0        3944  0.725138
2015.0        2802  0.834242
2014.0        1735  0.901799
2013.0        1053  0.942800
2012.0         635  0.967526
2011.0         410  0.983490
2010.0         217  0.991940
2009.0         117  0.996496
2008.0          56  0.998676
2007.0          27  0.999727
2006.0           5  0.999922
2005.0           2  1.000000

yelp_blocked_reviews
ratio of npi of positive reviews: 51.42% [19403/37733]

        NPI Number   CumProp
2021.0         489  0.025202
2020.0        1157  0.084832
2019.0        2175  0.196928
2018.0        3027  0.352935
2017.0        2957  0.505334
2016.0        2743  0.646704
2015.0        2166  0.758336
2014.0        1662  0.843993
2013.0        1210  0.906355
2012.0         829  0.949080
2011.0         511  0.975416
2010.0         261  0.988868
2009.0         139  0.996032
2008.0          51  0.998660
2007.0          15  0.999433
2006.0           9  0.999897
2005.0           1  0.999948
2004.0           1  1.000000

yelp_removed_reviews
ratio of npi of positive reviews: 18.29% [6900/37733]

        NPI Number   CumProp
2021.0         170  0.024638
2020.0         329  0.072319
2019.0         875  0.199130
2018.0         918  0.332174
2017.0         797  0.447681
2016.0         819  0.566377
2015.0         813  0.684203
2014.0         635  0.776232
2013.0         524  0.852174
2012.0         350  0.902899
2011.0         281  0.943623
2010.0         159  0.966667
2009.0         119  0.983913
2008.0          65  0.993333
2007.0          36  0.998551
2006.0           9  0.999855
2005.0           1  1.000000

## Get NPI's Top 10 Mean Date

In [71]:
import numpy as np


top = 10
Webname2TopMeanDate = {}
for webname in WebReview2ReviewTime:
    # print('\n\n' + webname)
    L = []
    for npi2reviewdatetime in WebReview2ReviewTime[webname]:
        npi2reviewdatetime = [i for i in npi2reviewdatetime if not pd.isnull(i)]
        npi2reviewdatetime = npi2reviewdatetime[:top]
        if len(npi2reviewdatetime) == 0:
            L.append(np.nan)
        else:
            average_date = get_the_mean_date(npi2reviewdatetime)
            L.append(average_date)
            
    d = pd.Series(L)
    Webname2TopMeanDate[webname] = d
    
    
for webname in Webname2TopMeanDate:
    print('\n{}'.format(webname))
    
    NPI2AverageDate = Webname2TopMeanDate[webname]
    
    zero_ratio = (-NPI2AverageDate.isna()).mean()* 100
    print('ratio of npi of positive reviews: {}% [{}/{}]'.format(round(zero_ratio, 2), (-NPI2AverageDate.isna()).sum(),  len(NPI2AverageDate)))
    report = NPI2AverageDate.dt.year.value_counts().sort_index(ascending = False)
    df = pd.concat([report, report.cumsum() / report.sum()], axis = 1)
    df.columns = ['NPI Number', 'CumProp']
    display(df)

healthgrades_reviews
ratio of npi of positive reviews: 46.83% [342818/732012]

        NPI Number   CumProp
2021.0       26426  0.077085
2020.0       41014  0.196722
2019.0       69935  0.400723
2018.0       93302  0.672885
2017.0       69762  0.876380
2016.0       41113  0.996307
2015.0        1266  1.000000

vitals_reviews
ratio of npi of positive reviews: 29.4% [214987/731259]

        NPI Number   CumProp
2021.0          50  0.000233
2020.0         259  0.001437
2019.0         916  0.005698
2018.0        2025  0.015117
2017.0        5347  0.039988
2016.0       16324  0.115919
2015.0       34417  0.276007
2014.0       44319  0.482155
2013.0       40955  0.672655
2012.0       30525  0.814640
2011.0       21646  0.915325
2010.0       14552  0.983013
2009.0        3524  0.999405
2008.0         128  1.000000

ratemds_reviews
ratio of npi of positive reviews: 32.72% [53395/163205]

        NPI Number   CumProp
2021.0         414  0.007754
2020.0         751  0.021819
2019.0        1167  0.043675
2018.0        1814  0.077648
2017.0        2579  0.125948
2016.0        3395  0.189531
2015.0        4511  0.274014
2014.0        5940  0.385261
2013.0        6259  0.502482
2012.0        6196  0.618522
2011.0        6331  0.737091
2010.0        4919  0.829216
2009.0        3989  0.903924
2008.0        3389  0.967394
2007.0        1088  0.987770
2006.0         445  0.996105
2005.0         178  0.999438
2004.0          30  1.000000

yelp_reviews_detailed
ratio of npi of positive reviews: 68.06% [25682/37733]

        NPI Number   CumProp
2021.0        1315  0.051203
2020.0        3414  0.184137
2019.0        4744  0.368858
2018.0        4628  0.549062
2017.0        3607  0.689510
2016.0        2755  0.796784
2015.0        1922  0.871622
2014.0        1233  0.919632
2013.0         819  0.951522
2012.0         496  0.970836
2011.0         350  0.984464
2010.0         201  0.992290
2009.0         109  0.996535
2008.0          55  0.998676
2007.0          27  0.999727
2006.0           5  0.999922
2005.0           2  1.000000

yelp_blocked_reviews
ratio of npi of positive reviews: 51.42% [19403/37733]

        NPI Number   CumProp
2021.0         559  0.028810
2020.0        1393  0.100603
2019.0        2496  0.229243
2018.0        3076  0.387775
2017.0        2922  0.538370
2016.0        2552  0.669896
2015.0        2037  0.774880
2014.0        1512  0.852806
2013.0        1141  0.911612
2012.0         760  0.950781
2011.0         494  0.976241
2010.0         251  0.989177
2009.0         134  0.996083
2008.0          51  0.998712
2007.0          14  0.999433
2006.0           9  0.999897
2005.0           1  0.999948
2004.0           1  1.000000

yelp_removed_reviews
ratio of npi of positive reviews: 18.29% [6900/37733]

        NPI Number   CumProp
2021.0         170  0.024638
2020.0         329  0.072319
2019.0         875  0.199130
2018.0         918  0.332174
2017.0         797  0.447681
2016.0         819  0.566377
2015.0         813  0.684203
2014.0         635  0.776232
2013.0         524  0.852174
2012.0         350  0.902899
2011.0         281  0.943623
2010.0         159  0.966667
2009.0         119  0.983913
2008.0          65  0.993333
2007.0          36  0.998551
2006.0           9  0.999855
2005.0           1  1.000000

## Get NPI's Year-Month

In [ ]:
Webname2Year = {}
Webname2YearMonth = {}

for webname in WebReview2ReviewTime:
    print('\n\n' + webname)
    L1 = []
    L2 = []
    for npi2reviewdatetime in WebReview2ReviewTime[webname]:
        npi2reviewdatetime = [i for i in npi2reviewdatetime if not pd.isnull(i)]
        if len(npi2reviewdatetime) == 0:
            L.append(np.nan)
        else:
            year = [i.year for i in npi2reviewdatetime]
            month = [i.month for i in npi2reviewdatetime]
            year_month = ['{}-{}'.format(y, m) for y, m in zip(year, month)]
            L1.append(year)
            L2.append(year_month)
        
    Webname2Year[webname] = pd.Series(L1)
    Webname2YearMonth[webname] = pd.Series(L2)